.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

canvas {
    margin: 50px;
}

#inputFileBtn {
    float: left;
}

.leftItems {
    float: left;
    height: 52px;
    margin-right: 20px;
    font-size: 30px;
    line-height: 52px;
}

.custom-btn {
    float: right;
    margin: 5px;
}
